body{
	margin:0px;
	color: #888;
  	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**--------------------------------------
HEADER
------------------------------------*/
/*ADD rolling links to The Lusina title*/
.rolling-links{
	perspective: 1000px;
	-webkit-perspective:1000px;
	-moz-perspective:1000px;
}

.rolling-links:hover{
	color:white;
}

.rolling-links span{
	position:relative;
	display: inline-block;
	padding:0 15px;
	background: #485274;
	transition:transform 0.3s;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}

/*
ensure the position is absolute to allow for
these styles to overlaying over the link
*/
.rolling-links span::before{	
	position:absolute;
	top:100%;
	width: 100%;
	height: 100%;
	content:attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.rolling-links:hover span, .rolling-links:focus span{
	transform:rotateX(90deg) translateY(-22px);
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
}

.rolling-links:hover span::before,.rolling-links:focus span::before{
	background:#485274;
}

.cd-logo{
	
}
/**--------------------------------------
SECTIONS
------------------------------------*/
/*ABOUT ME SECTION*/
#about-section{
	padding:25px;
	color: white;
}

#about-title{
	font-family: Poiret One, cursive, sans-serif;
	color:white;
	font-size: 35px;
	text-align: center;
}

#about-text{
	text-align: center;
	padding:10px;
}
/*social connect title*/
#connect-about{
	font-size: 25px;
	padding:10px;
	text-align: center;	
	font-family: Poiret One, sans-serif, cursive;
}

#about-text{
	
}

.social-links{
	color:white;
	padding:0px;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.empty-space{
	padding:55px;
}

/*add border effects social media links*/
.social-links::before,
.social-links::after{
	position:absolute;
	height: 1px;
	width:42px;
	margin:-5px;
	background:#fff;
	opacity:0.5;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-mox-transition:all 0.3s;
	content:'';
}

/*add before and after stylings when user hovers on links*/
.social-links::before{
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.social-links::after{
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

/*'show' the border when user hovers*/
.social-links:hover::before,
.social-links:hover::after,
.social-links:focus::before,
.social-links:focus::after{
	opacity: 1;
}

.social-links:hover::before,
.social-links:focus::before{
	left:70%;
	transform:rotate(0deg) translateX(-50%);
	-webkit-transform:rotate(0deg) translate(-50%);
	-moz-transform:rotate(0deg) translate(-50%);
}

.social-links:hover::after,
.social-links:hover::after{
	right:70%;
	transform:rotate(0deg) translateX(50%);
	-webkit-transform:rotate(0deg) translate(50%);
	-moz-transform:rotate(0deg) translate(50%);
}

/**-*-*-**--*-*--*-*-*-**--*-*-*-*-*-*-*-**-*-*-*/
/*-------------------------
CONTACT SECTION
--------------------------*/
#contact-section{
	color:wheat;
}

#contact-header{
	text-align: center;
}

#contact-title{
	font-family: Poiret One, sans-serif, cursive;
	padding:10px;
	font-weight: bolder;
	letter-spacing: 2px;
}

#contact-tag{
	text-align: center;
	font-family: Raleway,sans-serif,cursive;
	padding:10px;
}

#email-btn-container{
	text-align: center;	
}

#email-me-btn{
	
}

#email-me-btn:hover{
	
}
/**-*-*-**--*-*--*-*-*-**--*-*-*-*-*-*-*-**-*-*-*/
/**--------------------------------------
FOOTER
------------------------------------*/