<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../styles/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->

    <title>FCC Camperleaderboard</title>
</head>
<body><div class="cd-fold-content single-page">
    <h2>Camper leaderboard</h2>
    <em>Rankings for Free Code Camp</em>
    <p>Basic ranking for Free Code Camp users.
    </p>
    <img src="../../../img/pro-shots/camperleaderboard.png">
    <p>
        Ranks the Free code camp users base on points in the last 30 days and points overall.
        Built on top of ReactJS library.
    </p>
    <br/>
    <p style="text-align:center">View the site <a href="https://camperleaderboard.netlify.com">here</a></p>

</div>
<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/mainscript.js"></script> <!-- Resource jQuery -->
</body>
</html>