<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../styles/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->

    <title>FoodHut</title>
</head>
<body><div class="cd-fold-content single-page">
    <h2>FoodHut</h2>
    <em>Simple Food app.</em>
    <p>Simple Food website displaying restaurants and their menus.
    </p>
    <img src="../../../img/pro-shots/foodhut.png">
    <p>
        Simple Menu application built on Flask Python web framework.
        Features: Card View for Menu items, Modal login screens.
    </p>
    <br/>
    <p style="text-align:center">Check out the app <a href="http://foodhut.herokuapp.com/">here</a></p>

</div>
<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/mainscript.js"></script> <!-- Resource jQuery -->
</body>
</html>