<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../../styles/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<title>Menu</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Menu</h2>
		<em>Restaurant website concept.</em>
		<p>This is a concept of a restaurant website. The idea is to build a site that allows users to fully interact with a restaurant site as well as access all necessary information of the restaurant.
		</p>
		<!--home image-->
		<img src="../../../img/pro-shots/menu-screenshot.png">
        
        <p>Features a full Screen menu, historical Time line, order form, food menu.</p>
        
        <br/>
        
        <p>
        Some of the tools used are Modernizr.js, Foundation Framework and Fontawesome icons,
		</p>
		<br/>
		
        <p style="text-align:center">View the site <a href="https://menurestaurant.surge.sh/">here</a></p>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</html>
