<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../styles/base/_reset.scss"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->

    <title>Pomodoro Clock</title>
</head>
<body><div class="cd-fold-content single-page">
    <h2>Quote Machine</h2>
    <em>Inspirational Quotes</em>
    <p>Small quote generator for giving you inspirational quotes because we all want to be inspired.
    </p>
    <img src="../../../img/png/projects/quotemachine.png">
    <p>
        Fulfills the following user stories:
    </p>
    
    <ul>
        <li>User can click a button to show me a new random quote
        </li>
        <li>User can press a button to tweet out a quot  Tools:jQuery JavaScript Framework, FontAwesome Font Icons</li>
    </ul>
    
    <br/>
    <p style="text-align:center">View it <a href="https://quotemachine.netlify.com/">here</a></p>

</div>
<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/mainscript.js"></script> <!-- Resource jQuery -->
</body>
</html>