<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../styles/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->

    <title>TreasureGram</title>
</head>
<body><div class="cd-fold-content single-page">
    <h2>Treasure Gram</h2>
    <em>Simple Treasure gallery.</em>
    <p>Tresure Photo gallery to store all your precious treasures
    </p>
    <img src="../../../img/pro-shots/lutreasuregram.png">
    
    <p>
        Small database management tool build on Django, User can login and/ signup, post treasures and update them
        Features: Dialog to add items to database, simple display list.
    </p>
    <br/>
    <p style="text-align:center">Check out the app <a href="https://lutreasuregram.herokuapp.com/">here</a></p>

</div>
<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/mainscript.js"></script> <!-- Resource jQuery -->
</body>
</html>