<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../../styles/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../../../styles/main.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Zenith</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Zenith</h2>
		<em>Simple company portfolio site.</em>
		
        <p>mockup of an official introductory site into the Zenith project. Zenith project's have main focuses on app and websites creation. This Organization's focus is to create stellar IDEs and applications that meet user needs and demands.</p>
        <br>
		
        <img src="../../../img/pro-shots/zenith-screenshot.png">
		<br>
		
        <p>
            Features: bouncing footer social links, hero section with link to portfolio, Grid of projects done
        </p>
        <p>
            Tools: Google Font API, Modernizr Javascript Framework, jQuery 2.2.4, jQuery UI 1.11.4, SweetAlert Dialogs
            Built on ReactJs library.
		</p>
        <br/>
		<p style="text-align:center">View the site <a href="https://zenith.surge.sh/">here</a></p>			
	</div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
