<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../styles/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../styles/main.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->

    <title>FoodHut</title>
</head>
<body><div class="cd-fold-content single-page">
    <h2>Hadithi</h2>
    <em>Simple Blog application.</em>
    <p>Blog application for African stories.
    </p>
    <img src="../../img/pro-shots/hadithi-screenshot.png">
    <p>
        Read African stories and write one yourself.
        Built on Python's Flask framework.
    </p>
    <p style="text-align:center">Check out the app <a href="https://hadithi.herokuapp.com/">here</a></p>

</div>
<script src="js/vendor/jquery-2.1.1.js"></script>
<script src="js/mainscript.js"></script> <!-- Resource jQuery -->
</body>
</html>